/* Estilos generales del cuerpo de la página */
body {
    background-color: #000;
    color: #0F0;
    font-family: 'Courier New', monospace;
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
}

/* Estilos del contenedor de la terminal */
.msx-terminal {
    background-color: #000;
    padding: 10px; /* Añade espacio alrededor del contenido */
    width: 100vw; /* Ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    box-sizing: border-box; /* Incluye el padding en el ancho/altura total */
}

/* Estilos del área visible de la terminal */
.msx-screen {
    padding: 10px;
    background-color: #000;
    height: calc(100% - 20px); /* Calcula la altura restando el doble del padding */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

/* Estilos para los elementos de texto en la terminal */
.msx-prompt,
.msx-command,
.msx-output {
    color: #0F0; /* Color del texto en verde */
}

/* Estilos para los enlaces */
a {
    color: #0F0; /* Color azul para enlaces */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    /* font-weight: bold; */ /* Hace el texto en negrita */
    font-family: 'Courier New', monospace; /* Utiliza la fuente de terminal */
    transition: color 0.3s; /* Agrega una transición de color suave */
}

a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón sobre él */
    color: #3498db /* Cambia el color del enlace a azul */
}

.sarcior-link {
    color: #0F0; /* Mantiene el mismo verde para el enlace de www.sarcior.com */
}

h2 {
    font-weight: normal; /* Hace que el texto h3 no esté en negrita */
}

/* Estilos para el cursor parpadeante */
.cursor {
    display: inline-block;
    width: 0.6em; /* Ajusta el ancho según sea necesario */
    animation: blink 1.5s infinite; /* Configura la animación de parpadeo */
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0; /* El cursor estará invisible en estos momentos */
    }
    25%, 75% {
        opacity: 1; /* El cursor estará visible en estos momentos */
    }
}
